[Unit]
Description=Mount unit for inkscape, revision 10417
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/inkscape_10417.snap
Where=/snap/inkscape/10417
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
