[Unit]
Description=Mount unit for gnome-calculator, revision 920
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/gnome-calculator_920.snap
Where=/snap/gnome-calculator/920
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
