[Unit]
Description=Mount unit for gnome-characters, revision 761
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/gnome-characters_761.snap
Where=/snap/gnome-characters/761
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
