[Unit]
Description=Mount unit for curl, revision 1093
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/curl_1093.snap
Where=/snap/curl/1093
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
