[Unit]
Description=Mount unit for gimp, revision 383
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/gimp_383.snap
Where=/snap/gimp/383
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
