[Unit]
Description=Mount unit for gnome-logs, revision 106
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/gnome-logs_106.snap
Where=/snap/gnome-logs/106
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
