[Unit]
Description=Mount unit for gnome-3-34-1804, revision 72
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/gnome-3-34-1804_72.snap
Where=/snap/gnome-3-34-1804/72
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
