[Unit]
Description=Mount unit for core22, revision 188
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/core22_188.snap
Where=/snap/core22/188
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
