[Unit]
Description=Mount unit for gnome-system-monitor, revision 178
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/gnome-system-monitor_178.snap
Where=/snap/gnome-system-monitor/178
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
