[Unit]
Description=Mount unit for gnome-characters, revision 741
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/gnome-characters_741.snap
Where=/snap/gnome-characters/741
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=multi-user.target
